.row
  .span6
    .well
      %h3 Tus Datos
      %hr
      %ul.thumbnails
        %li.span1
          .thumbnail
            = image_tag( @user.avatar, :size => "50x50")
        %li.span4
          Tu nombre:
          %strong#name= @user.name
          %br
          %br
          Elige la imagen de perfil de gravatar, facebook o google.
            

  .span6
    .well.service
      %h3 
        = image_tag "social/gravatar_32.png", :size => "32x32"
        Gravatar
      %hr
      %ul.thumbnails
        %li.span1
          = link_to image_tag( @user.gravatar, :size => "50x50"), change_pic_user_path(@user,:provider=>:gravatar), :class=>'profile_pic thumbnail'
        %li.span4
          :markdown
            [Gravatar](https://es.gravatar.com/) asocia una imagen de perfil
            a tu email.
            
            Si no tienes, [crea una cuenta](https://es.gravatar.com/). Es gratis.
.row
  .span6
    .well.service
      %h3 
        = image_tag "social/facebook_32.png", :size => "32x32"
        Facebook
      %hr
      - if a = @user.facebook_authentication
        %ul.thumbnails
          %li.span1
            = link_to image_tag( a.image, :size => "50x50"), change_pic_user_path(@user,:provider=>:facebook), :class=>'profile_pic thumbnail'
          %li.span4
            :markdown
              La cuenta de #{a.name} ha sido vinculada.
            = link_to "Quitar vínculo.", a, :confirm => 'Deseas eliminar este opcion de autentificacion?', :method => :delete
      - else
        %ul.thumbnails
          %li.span1
            = link_to image_tag( "social/facebook_64.png", :size => "50x50"), '/auth/facebook', :class=>'thumbnail'
          %li.span4
            :markdown
              Si tienes una cuenta de [facebook](http://facebook.com), puedes 
              [vincularla a tu cuenta](/auth/facebook)
        
  .span6
    .well.service
      %h3 
        = image_tag "social/google_oauth2_32.png", :size => "32x32"
        Google
      %hr
      - if a = @user.google_authentication
        %ul.thumbnails
          %li.span1
            = link_to image_tag( a.image, :size => "50x50"), change_pic_user_path(@user,:provider=>:google), :class=>'profile_pic thumbnail'
          %li.span4
            :markdown
              La cuenta de #{a.name} ha sido vinculada.
            = link_to "Quitar vínculo.", a, :confirm => 'Deseas eliminar este opcion de autentificacion?', :method => :delete
      - else
        %ul.thumbnails
          %li.span1
            = link_to image_tag( "social/google_oauth2_64.png", :size => "50x50"), '/auth/google_oauth2', :class=>'thumbnail'
          %li.span4
            :markdown
              Si tienes una cuenta de [google](http://gmail.com), puedes 
              [vincularla a tu cuenta](/auth/google_oauth2)

= app_js_load :profile=> true
