= form_for @page, :method=> 'put' do |f|
  = f.hidden_field :id
  %fieldset
    .control-group
      %label(for="title") Titulo
      .control
        = f.text_field :title, {:class=>'xlarge'}
    .control-group
      %label(for="slug") Slug
      .control
        = f.text_field :slug, {:class=>'xlarge'}
  %fieldset
    = f.text_area :content, :spellcheck=>false, :rows=>20
    .live-preview
  .form-actions
    = f.submit 'Guardar', :class=>'btn primary'


#thumb_chooser.modal.hide.fade
  .modal-header
    %a.close{:href=>"#", :data=>{:dismiss=>"modal"}}
      &times;
    %h3 Elige un tamaño
  .modal-body
    %ul.media-grid

= app_js_load :page_edit=> true, :chat=> false
    
