%h1 #{@page.title}

= form_for @page, :method=> 'put' do |f|
  = f.hidden_field :id
  = f.hidden_field :title
  %fieldset
    = f.text_area :content, :spellcheck=>false, :rows=>5
    .live-preview
  = f.submit 'Guardar', :class=>'btn primary'


#thumb_chooser.modal.hide.fade
  .modal-header
    %a.close(href="#") &times;
    %h3 Elige un tamaño
  .modal-body
    %ul.media-grid
