= form_for @page, :method=> 'put' do |f|
  = f.hidden_field :id
  %fieldset
    .clearfix
      %label(for="title") Titulo
      .input
        = f.text_field :title, {:class=>'xlarge'}
    .clearfix
      %label(for="slug") Slug
      .input
        = f.text_field :slug, {:class=>'xlarge'}
  %fieldset
    = f.text_area :content, :spellcheck=>false, :rows=>20
    .live-preview
  = f.submit 'Guardar', :class=>'btn primary'


#thumb_chooser.modal.hide.fade
  .modal-header
    %a.close(href="#") &times;
    %h3 Elige un tamaño
  .modal-body
    %ul.media-grid
