#post_og(style="display:none;")
  .image_holder
    .image_wrapper
      .image
      .waiting
        =image_tag 'loading.gif'      
  .content
    .title ...
    .url
    .description ...
  %a.hide(href ="#") X

#publicar
  -@post = Post.new
  -@post.build_attachement
  = form_for @post, :url => new_post_path, :remote => true, :html => {:autocomplete => "off"}  do |f|
    = f.fields_for :attachement do |af|
      = af.hidden_field :title
      = af.hidden_field :url
      = af.hidden_field :description
      = af.hidden_field :image
      = af.hidden_field :video
    #publicar_body
      = f.text_area :body, :value => 'Qué estás pensando?',:spellcheck=>false
    #publicar_submit(style='display:none;')
      = f.submit 'Compartir'
