%li.post[post]
  .avatar
    =image_tag post.user.avatar.url(:thumb)
  .content
    =link_to post.user.name, '#', :class => 'name'
    %p.body
      = post.body
    = render :partial => "attachement", :locals => { :attachement => post.attachement } if post.attachement
    .foot
      %span.when Hace #{distance_of_time_in_words_to_now(post.created_at)}
      =link_to post.comments.count, '#', :class=>'comments_count'
      =link_to "4", '#', :remote => true, :class=>'thumbs_up'
      =link_to "2", '#', :remote => true, :class=>'thumbs_down'
    %ul.comments
      - comments = post.comments.limit(3).all
      - comments.each do |c|
        = render :partial => "comment", :locals => { :comment => c }
      -if post.comments.count>3
        %li.more
          =link_to "Ver los "+post.comments.count.to_s+" comentarios", wall_view_more_posts_path(:offset => @view_more_offset), :remote => true, :class=>'comments_count'
    %ul.comment_form
      = render :partial => "comment_form", :locals => { :post => post } if user_signed_in?

