-if @blog_post
  .row
    .span8
      -unless @blog_post.embed.empty?
        = @blog_post.title
        = raw @blog_post.embed
      -else
        =image_tag @blog_post.image.url(:large)
          
    .span4
      -if @blog_posts
        %ul.posts_list
          - @blog_posts.each do |blog_post|
            %li.post
              .avatar
                =image_tag blog_post.image.url(:thumb)
              .content
                %p.body 
                  %a.name #{blog_post.title}
                  %br
                  = blog_post.body

%hr

.row
  .span8
    #wall_viewport
  .span4
    .well
      :markdown
        Comparte escrbiendo algo o pegando el enlace de **[youtube](//youtube.com)**, 
        **[vimeo](//vimeo.com)**, 
        **[soundcloud](//soundcloud.com)**, 
        **[picasa](//picasaweb.google.com)**, etc.


= app_js_load :posts=> @posts
