.row
  .span8
    .label.label-info(style="font-size: 13px;padding: 2px 10px;") Ultimas novedades
    %br
    .well
      %h3 Elecciones 2012
      %p Se acercan las elecciones para el Equipo de Coordinación País (ECP) y para el Equipo de Coordinación Mundial (ECM).
      %p Estas son las personas que se han postulado para las funciones.
      =link_to 'Candidatos al ECP', candidates_path, :style=>'color:#fff',:class => 'btn btn-primary btn-large'
      &nbsp;&nbsp;&nbsp;&nbsp;
      =link_to 'Candidatos al ECM', 'http://candidatos-lacomunidad.blogspot.com.es/index.html', :style=>'color:#fff',:class => 'btn btn-primary btn-large', :target => 'blank'
    %br
    =image_tag 'invitacion.jpg'
  .span4
    .label.label-info(style="font-size: 13px;padding: 2px 10px;") Ultimas publicaciones
    %ul.posts_list
      - @posts.each do |post|
        %li.post
          .avatar
            %img{ src:"#{post.user.avatar}", width:40, height:40}
          .content
            %p.body 
              %a.name #{post.user.name}:
              #{post.body}
          -if post.attach
            .attach
              .post_attach
                .image
                  %a.show-embed{target: "new", href:"#{post.attach[:url]}"}
                    %img{ src:"#{post.attach[:image]}"}
                .content
                  .title
                    %a.show-embed{target: "new", href:"#{post.attach[:url]}"} #{post.attach[:title]}
                  .description #{post.attach[:description]}
          .stats  
            %time.when{ datetime:"#{post.created_at}"} Hace #{time_ago_in_words(post.created_at)}
            %span.comments_count #{post.comments.count}
            %span.thumbs_up #{post.votes_for}
            %span.thumbs_down #{post.votes_against}
