.navbar.navbar-static
  .navbar-inner.container
    =link_to image_tag('logo.png', :width=>200, :height=>41), root_path, :class=> 'logo brand'
    %ul#main-nav.nav
      %li.home #{link_to '<i class="icon-white icon-home"></i><i class="icon-black icon-home"></i>'.html_safe, root_path, :class=> ('active' if current_page?(root_path))}
      %li #{link_to "Que es La Comunidad", what_path, :class=> ('active' if current_page?(what_path))}
      %li #{link_to "Muro", muro_path, :class=> ('active' if current_page?(muro_path))}
      %li #{link_to "Noticias", noticias_path, :class=> ('active' if current_page?(noticias_path))}
      %li #{link_to "Documentos", docs_path, :class=> ('active' if current_page?(docs_path))}
      %li #{link_to "Participa", participate_path, :class=> ('active' if current_page?(participate_path))}
    %ul.nav.pull-right
      - if user_signed_in?
        %li.dropdown
          %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
            %span #{current_user.name}
            %b.caret
          %ul.dropdown-menu
            %li
              %a(href="#{profile_user_path(current_user)}")
                %i.icon-user
                Perfil
            - if can? :manage, Book
              %li
                %a(href="#{books_path}")
                  %i.icon-book
                  Libros
            - if can? :manage, Video
              %li
                %a(href="#{videos_path}")
                  %i.icon-film
                  Videos
            - if can? :manage, Audio
              %li
                %a(href="#{audios_path}")
                  %i.icon-music
                  Audios
            - if can? :manage, User
              %li
                %a(href="#{users_path}")
                  %i.icon-user
                  Usuarios
            - if can? :manage, Setting
              %li.divider
              %li
                %a(href="#{settings_path}")
                  %i.icon-cog
                  Configuración
                
            %li.divider
            %li
              %a{:href=>"#{destroy_user_session_path}",:data=>{:method=>'delete'}}
                %i.icon-exclamation-sign
                Salir
      -else
        %li
          =link_to "Ingresar", new_user_session_path
