!!! 5
%html
  %head
    %title La Comunidad para el desarrollo humano
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tag
  %body{:class => body_classes.join(' ')}
    #ajax-indicator(style = "display:none;")
      =image_tag 'loading.gif'
    #ic
      =render :partial => "layouts/header"
      #content.container
        -if notice
          .alert.success
            %a.close{:data => {:dismiss => "alert"}, :href=>"#"}
              &times;
            = notice
        -if alert
          .alert.error
            %a.close{:data => {:dismiss => "alert"}, :href=>"#"}
              &times;
            = alert
        = yield
      =render :partial => "layouts/footer"
