!!! 5
%html
  %head
    %title La Comunidad para el desarrollo humano
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tag
  %body{:class => body_classes.join(' ')}
    #ajax-indicator{:style => "display:none;"}
      =image_tag 'loading.gif'
    #ic.container
      =render :partial => "partials/header"
      #content.row
        -if notice
          .alert-message.success(data-alert)
            %a.close(href="#") &times;
            %p #{notice}
        -if alert
          .alert-message.error(data-alert)
            %a.close(href="#") &times;
            %p #{alert}
        = yield
      =render :partial => "partials/footer"
